# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tecnicofs/.vscode/launch.json
tecnicofs/.vscode/tasks.json
tecnicofs/tests/copy_to_external_errors
tecnicofs/tests/copy_to_external_simple
tecnicofs/tests/test1
tecnicofs/tests/write_10_blocks_simple
tecnicofs/tests/write_10_blocks_spill
tecnicofs/tests/write_more_than_10_blocks_simple
